
html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  background: #eee;
  padding: 1rem;
}

/* Message */
.messages {
  height: 540px;
  overflow-y: scroll;
}

.messge__form {
  position: fixed !important; 
}